MONGODB_URI=
OPENAI_API_KEY=
GEMINI_API_KEY=
REDIS_URL=

NAUKRI_EMAIL=
NAUKRI_PASSWORD=

WELLFOUND_EMAIL=
WELLFOUND_PASSWORD=
WELLFOUND_PHONE=
WELLFOUND_LOCATION=Bengaluru, Karnataka, India
WELLFOUND_LINKEDIN=https://www.linkedin.com/in/your-profile
WELLFOUND_GITHUB=https://github.com/your-username

LINKEDIN_EMAIL=
LINKEDIN_PASSWORD=
